# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

#Latex
*.log
*.blg
*.aux
*.dvi
*.bbl
*.zip
auto/

#Backups
*~
